#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 12px; /* Scrollbar width */
  height: 12px; /* Scrollbar height for horizontal bars */
}

::-webkit-scrollbar-thumb {
  background: #213547; /* Scrollbar thumb color */
}

::-webkit-scrollbar-thumb:hover {
  background: #213547; /* Thumb color on hover */
}

::-webkit-scrollbar-track {
  background: #c8c9db; /* Track color */
  border-radius: 3%; /* Rounded edges */
}

:root {

}

.box {
  margin: 12px 0 12px 0;
}

.container-flex {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container-grid-2 {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 4px;
}

.container-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}
/*-- input row specialize --*/
.container-input div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 4px 0 4px 0;
  gap: 10px;
}

.container-input label {
  display: flex;
  align-items: center;
  gap: 5px;
}

.container-input input {
  width: 100px;
}

.container-plot {
  width: 100%;
  height: 90%;
  margin: 10%;
}

.container-scroll {
  max-width: 100%;
  overflow-y: hidden;
}

.base {
  padding: 4px;
}

.loader-box {
  width: 128px;
  height: 128px;
  background-color: #ffffff;
}

.loader-outer-box {
  width: 128px;
  height: 128px;
  position: relative;
  background: linear-gradient(
    90deg, 
    rgba(237,255,68,1) 0%, 
    rgba(249,203,74,1) 25%, 
    rgba(255,108,43,1) 70%, 
    rgba(255,43,84,1) 100%
  );
}